@page "/createcategory"
@using AmnasKitchen.Shared
@inject HttpClient Http

<section>

    <h2>Create New Category</h2>
    <hr/>

    <div class="form-group w-100">
        <TelerikTextBox @bind-Value="categoryName" Label="Enter Category Name" Width="100%"></TelerikTextBox>
        <small id="emailHelp" class="form-text text-muted">Please make sure the category is not created before.</small>
    </div>
    <div class="row pb-5">
        <div class="col-12">
            <TelerikButton ButtonType="@ButtonType.Submit" OnClick="@OnClickHandler" Primary="true" Class="w-100">Create</TelerikButton>
        </div>
    </div>

</section>

@code {
    string categoryName { get; set; }

    async Task OnClickHandler()
    {
        await Http.PostAsJsonAsync("Recipe/CreateCategory",  new Category { Name = categoryName });
    }
}