@page "/"
@using AmnasKitchen.Client.Shared;


<section>
  <MainSlider />
</section>
  <section>
    <CategorySlider />
  </section>

  <section id="items" class="rounded mt-3 p-4 mb-4">
    <div class="row">
      <div class="col-12">
        <h2>Featured Recipes</h2>
      </div>
    </div>
    <hr />

    <div class="d-flex align-content-center justify-content-between flex-wrap">
      @for (int i = 0; i < 8; i++)
      {
        <FeaturedRecipe Id="@i" />
      }
    </div>
  </section>

@if (Installable)
{
  <div class="bg-ak border rounded shadow fixed-bottom d-flex align-items-center justify-content-between install-prompt">
    <span>Install this app?</span>
    <span>
      <button class="btn btn-light btn-sm mx-2" @onclick="@InstallClicked">Install</button>
              <button class="btn btn-outline-light btn-sm" @onclick="@(()=>Installable=false)">Cancel </button>
                      </span>
                      </div>
}

@code {
  [Inject] IJSRuntime JSRuntime { get; set; } // needs to be here not as a @inject directive
  static bool Installable = false;
  static Action ml;

  [JSInvokable("InstallPwaPrompt")]
  //a named method so that it is easy to call from JS Interop
  public static Task InstallPwaPrompt()
  {
    Installable = true;
    ml.Invoke();
    return Task.CompletedTask;
  }

  async void InstallClicked(MouseEventArgs args)
  {
    Installable = false;
    await JSRuntime.InvokeAsync<object>("OnPwaInstallClick");
  }
}
