@page "/"
@inject HttpClient Http
@using AmnasKitchen.Client.Shared;


<section>
  <MainSlider />
</section>

<div class="container">
  <section>
    <CategorySlider />
  </section>

  <section id="items">
    <div class="row">
      <div class="col-12">
        <h2>Featured Recipes</h2>
      </div>
    </div>
    <div class="row">
      @for (int i = 0; i < 9; i++)
      {
        <FeaturedRecipe Id="@i" />
      }
    </div>
  </section>
</div>

@code {
}
