
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  .recipe-itemSize {
    width: 400px;
  }

  .container-fluid {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .slider .slider__slide {
    height: 190px;
    width: 340px;
  }

  .slider__description {
    cursor: pointer;
    font-family: "Source Sans Pro",Arial;
    color: #fff;
    white-space: normal;
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255,255,255,0) !important;
    font-size: .700rem;
    clear: both;
    display: block;
    float: left;
    margin: 0;
  }

  .install-prompt {
    width: 300px;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    bottom: 63px;
    left: auto;
    right: 20px;
    border: 0;
    border-radius: 2px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
    background-color: #818a91;
    z-index: 11000
  }
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
  .recipe-itemSize {
    width: 380px;
  }

  .container-fluid {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .slider .slider__slide {
    height: 246px;
    width: 440px;
  }

  .slider__description {
    cursor: pointer;
    font-family: "Source Sans Pro",Arial;
    color: #fff;
    white-space: normal;
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255,255,255,0) !important;
    font-size: .700rem;
    clear: both;
    display: block;
    float: left;
    margin: 0;
  }

  .install-prompt {
    width: 300px;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    bottom: 63px;
    left: auto;
    right: 20px;
    border: 0;
    border-radius: 2px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
    background-color: #818a91;
    z-index: 11000
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

  .recipe-itemSize {
    width: 360px;
  }
  
  .container-fluid {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .slider .slider__slide {
    height: 280px;
    width: 500px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .recipe-itemSize {
    width: 315px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .recipe-itemSize {
    width: 336px;
  }
}
