<div class="d-flex flex-row w-100 justify-content-center mb-5">
    <div class="loader" style="font-size: @(Size)px"></div>
</div>

@code {

    [Parameter]
    public int Size { get; set; } = 10;

}
