

    <div class="top-content">
        <section class="slider">
            <article class="slider__slide">
                <a href="#" target="_self">
                    <div class="slider__text p-2">
                        <h3>Recipes For Father's Day</h3>
                        <p class="slider__description">Cook up his favorites, from breakfast to drinks, dinner, and dessert.</p>
                    </div>
                    <img alt="Strawberry Pie II" src="https://images.media-allrecipes.com/images/55271.jpg" class="slider__photo  ">
                </a>
            </article>
            <article class="slider__slide">
                <a href="#" target="_self">
                    <div class="slider__text p-2">
                        <h3>Top-Rated Father's Day Brunch Ideas</h3>
                        <p class="slider__description">These ultra-satisfying brunch dishes will power him through a busy day (or an afternoon nap).</p>
                    </div>
                    <img alt="Dad's Day Strata" src="https://images.media-allrecipes.com/images/59142.jpg" class="slider__photo  ">
                </a>
            </article>
            <article class="slider__slide">
                <a href="#" target="_self">
                    <div class="slider__text p-2">
                        <h3>Salt and Pepper Spare Ribs</h3>
                        <p class="slider__description">Salt, pepper, and time are all you need to make Chef John's fork-tender baked ribs. Serve them with BBQ sauce, or just enjoy their simple splendor.</p>
                    </div>
                    <img alt="Salt and Pepper Spare Ribs" src="https://images.media-allrecipes.com/images/92359.jpg" class="slider__photo  ">
                </a>
            </article>
            <article class="slider__slide">
                <a href="#" target="_self">
                    <div class="slider__text p-2">
                        <h3>70+ Lemonade Recipes</h3>
                        <p class="slider__description">Cool down with one of these tangy lemonade recipes, from the classic fresh-squeezed to pineapple, strawberry, watermelon, or cucumber versions.</p>
                    </div>
                    <img alt="Vintage Lemonade" src="https://images.media-allrecipes.com/images/57078.jpg" data-lazy-load="" data-original-src="https://images.media-allrecipes.com/images/57078.jpg" class="slider__photo  ">
                </a>
            </article>
            <article class="slider__slide">
                <a href="#" target="_self">
                    <div class="slider__text p-2">
                        <h3>Creamy Cold Picnic Salads</h3>
                        <p class="slider__description">These five-star summer salads are bound for glory! They're classic picnic salads—potato, pasta, and chicken—all held together with a thick, creamy dressing.</p>
                    </div>
                    <img alt="Chicken Potato Salad" src="https://images.media-allrecipes.com/images/55345.jpg" class="slider__photo  ">
                </a>
            </article>
        </section>
    </div>
