@inherits LayoutComponentBase

<TelerikRootComponent>

  <section id="logo" class="mb-3">
    <NavMenu />
  </section>

  <section id="sectionBody">
    <div class="container-fluid">
      
      @if (Installable)
      {
        <div class="bg-ak border rounded shadow fixed-bottom d-flex align-items-center justify-content-between install-prompt">
          <span>Install this app?</span>
          <span>
            <button class="btn btn-light btn-sm mx-2" @onclick="@InstallClicked">Install</button>
                    <button class="btn btn-outline-light btn-sm" @onclick="@(()=>Installable=false)">Cancel </button>
                            </span>
                            </div>
      }

      @Body
    </div>
  </section>



  <!-- Website Footer
  =================== -->
  <footer class="mt-4">
    <div class="container-fluid">
      <div class="row">
        <!-- About -->
        <div class="col-md-6 col-sm-12 text-center">
          <h3>About</h3>
          <div class="footer-about">
            "A recipe book is one that you use daily and what we in our family
            call 'a living book' — a book that you use all the time,
            not just read once and discard on the shelf.
            Recipes are by nature derivative and meant to be shared -
            that is how they improve, are changed, how new ideas are formed. ”
          </div>
        </div>
        <!-- Author -->
        <div class="col-md-6 col-sm-12 text-center">
          <div class="footer-author">
            Made with
            <i class="fa fa-heart" aria-hidden="true"></i>
            love by
            <a href="https://jraleman.com/" target="_blank">Jose Ramon</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
</TelerikRootComponent>

@code{

  [Inject] IJSRuntime JSRuntime { get; set; } // needs to be here not as a @inject directive
  static bool Installable = false;
  static Action ml;

  [JSInvokable("InstallPwaPrompt")]
  //a named method so that it is easy to call from JS Interop
  public static Task InstallPwaPrompt()
  {
    Installable = true;
    ml.Invoke();
    return Task.CompletedTask;
  }

  async void InstallClicked(MouseEventArgs args)
  {
    Installable = false;
    await JSRuntime.InvokeAsync<object>("OnPwaInstallClick");
  }

}