@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@using ApnaBawarchiKhana.Shared

@inject IToastService toastService
@inject AbkFetchService AbkFetchService
<style>

    .cat-drpDown-item {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        line-height: inherit;
        white-space: nowrap;
        padding-left: 1rem !important;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: #a44c9f !important;
    }

    .cat-drpDown-img {
        width: 30px;
        height: 30px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-ak justify-content-between">
    <a class="navbar-brand brandText" href="/">
        <img src="images/LogoMakr_5qCGuM.png" alt="logo" height="24" class="d-inline-block align-top" />
        Apna Barwarchi Khana
    </a>

    <button id="navBarBtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @*<li class="nav-item">
                <a class="nav-link" href="/managecategory">ManageCategories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createrecipe">CreateRecipe</a>
            </li>*@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browse Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    @if (Categories == null || !Categories.Any())
                    {
                        <Loader Size="7" />
                    }
                    else
                    {

                        @foreach (var category in Categories)
                        {
                            <a class="dropdown-item cat-drpDown-item d-flex align-items-center" href="/recipebycategory/@category.Id/@category.Name">
                                <div class="rounded bg-ak cat-drpDown-img d-flex justify-content-center align-items-center mr-2">
                                    <img src="data:image/bmp;base64, @(Convert.ToBase64String(category.UploadedImage?.ImageData))" alt="@($"{category.Name}")" width="24" height="24" />
                                </div> @category.Name
                            </a>
                        }
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Show All</a>
                </div>
            </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item cat-drpDown-item d-flex align-items-center" href="/managecategory">
                            <div class="rounded cat-drpDown-img d-flex justify-content-center align-items-center mr-2">
                                <img src="https://img.icons8.com/nolan/24/maintenance.png" alt="ManageCategories" width="24" height="24" />
                            </div> ManageCategories
                        </a>

                        <a class="dropdown-item cat-drpDown-item d-flex align-items-center" href="/managerecipes">
                            <div class="rounded cat-drpDown-img d-flex justify-content-center align-items-center mr-2">
                                <img src="https://img.icons8.com/color/24/000000/beer-recipe.png" alt="ManageRecipes" width="24" height="24" />
                            </div> ManageRecipes
                        </a>
                    </div>
                </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

@code
{
    public IList<Category> Categories { get; set; } = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            Categories = await AbkFetchService.GetCategories();
        }
        catch (Exception e)
        {
            toastService.ShowError(e.Message);
        }

        navigationManager.LocationChanged += OnLocationChanges;
    }

    async void OnLocationChanges(object sender, LocationChangedEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("toggleNavBar");

        await SetActiveOnNavBar();
    }

    private async Task SetActiveOnNavBar()
    {
        await JSRuntime.InvokeVoidAsync("SetNavBarActive");
    }
} 